*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html , body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a303d;
}
.container{
    height: 60%;
    max-width: 800px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    background-color: #212631;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 5px #6261cc;
    color: hsl(208, 100%, 97%);
    border: 0.5px solid #6261cc;
}
img{
    height: 50%;
    width: auto;
    border-radius: 50%;
}
.container ul li {
    list-style: none;
    margin: 20px 20px auto auto ;
}
.container ul li a {
    text-decoration: none;
    color: hsl(208, 100%, 95%);
    cursor: pointer;
    transition: all ease 0.3s;
}

.container ul {
    display: flex;
   
}
.container ul li a :hover{
    color: hsl(208, 100%, 100%);
}

